/* reset */
body,p,a,ul,li {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* styles */
li {
    list-style-type: none;
}

/* fonts */

@font-face {
    font-family: 'architects daughter' ;
    src: url(./assets/font/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

@font-face {
    font-family: 'marker';
    src: url(./assets/font/Permanent_Marker/PermanentMarker-Regular.ttf);
}

* {
    font-family: 'architects daughter';
}

h1,h3 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.1em;
}
/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}
.site-nav ul {
    display: none;
}
.hero {
    background-image: url(./assets/hero_image.jpeg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero h1,h5{
    font-size: x-large;
    font-family: 'marker';
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
.button {
    display: none;
    align-self: center;
    color: white;
    border: solid 2px white;
    padding: 6px 12px;
    width: 100px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
}
.button:hover {
    color: black;
    background: yellow;
}
#about {
    text-align: center;
    padding: 100px;
    background-color: #dda15e;
}
#favourites {
    text-align: center;
    padding-top: 100px;
    background: #fefae0;
}

.menu {
    padding-bottom: 100px;
}
.menu article {
    padding-top: 25px;
    text-align: center;
    grid-column: 1/9;
    font-size: larger;
    color: black;
}
.menu img {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
}

.menu p {
    display: none;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    text-align: center;
    background-color: #606c38;
    color: #fefae0;
    font-size: x-large;
}

#contact a {
    color: #fefae0;
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 25px;
    line-height: 25px;
    background-color: #283618;
    color: #fefae0;
}

/* small tablet styles */

@media screen and (min-width: 620px){

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .site-nav ul {
        display: none;
    }

    .hero {
        height: 500px;
    }

    .menu {
        padding-top: 25px;
    }

    .menu article {
        grid-column: span 2;
    }

}

/* large tablets and laptops */

@media screen and (min-width: 960px){

    .site-nav ul {
        display: flex;
        grid-column: 6/9;
        justify-content: flex-end;
        align-self: center;
        padding-right: 75px;
        
    }

    .site-nav li {
        margin-left: 20px;
    }

    .site-nav a {
        color: white;
        position: relative;
    }
    
    .menu p {
        display: flex;
        width: 350px;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

}

/* desktop styles */

@media screen and (min-width: 1200px){

}